 
{{#each quizzes}}
      <div class="maincontent">
                        <div class="content">
                              
                                <div class="cont">
                                    <img src="{{img}}" alt="empire">
                                    <div class="info">
                                        <h4>{{title}}</h4>
                                        <p>{{text}}</p>
                                        <a class= 'btn btn-info' href='{{href}}'>Lets Play</a>
                                    </div>
                                </div>
                            
                            
                                </div>
                    </div>

                    
                 
                       {{/each}}
                  